/*
 * pallette:
 * 17b2eb = blue
 * f9047b = red
 */    
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;
    }
    h2, p, .glow {
      text-shadow: 0 0 10px #17b2eb;
    }
    h2 {
      font-family: 'Press Start 2P', cursive;
      font-size: 1.25em;
    }
    p, a, .simplebar-content, input, button, .button, select, textarea {
      font-family: 'VT323', monospace;
      font-size: 1.3em;
    }
    a:hover, .woocommerce-loop-product__title:hover {
      background-color: #17e2eb;
    }
    a:active, .woocommerce-loop-product__title:active {
      color: #17e2eb;
      background-color: #f9047b;
    }
    a, .woocommerce-loop-product__title {
      color: #f9047b;
      text-decoration: none;
      text-shadow: 0 0 10px #f9047b;
    }
    button, .button, select, textarea {
      background-color: #f9047b !important;
      color: #17b2eb !important;
      border: 0;
    }
    .woocommerce-loop-product__title:hover {
      background-color: #17e2eb;
    }
    .stock, .tt {
      color: #17b2eb !important;
    }
    .price {
      text-shadow: 0 0 40px #77a464 !important;
    }
    .woocommerce-checkout-payment {
      background: #17b2eb30 !important;
    }
    .payment_box {
      background: #17e2eb30 !important;
      color: #17b2eb !important;
    }
    input {
      background-color: #f9047b;
      color: #17b2eb;
      border: 0;
      border-radius: 10% / 10%;
    }
    .qty {
      width: 50px !important;
      height: 43px;
      background-color: #f9047b;
    }
    #tvbody {
      position: absolute;
      width: 90vw;
      height: 95vh;
      left: 5vw;
      top: 5vh;
      margin: auto;
    }
    #tvframe {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
    #tv {
      position: relative;
      box-shadow: 0px 0px 20px 10px #f9047b40;
      width: 90%;
      height: 90%;
      margin: auto;
      background: rgba(0, 0, 0, 0.9);
      border-radius: 50% / 10%;
      color: #17b2eb;
      text-indent: .1em;
      z-index: 1;
      overflow: hidden;
    }
    #tvcontent {
      width: 100%;
      height: 100%;
      border-radius: 50% / 10%;
      overflow-x: hidden;
    }
    #realcontent {
      padding-left: 6vh;
      padding-right: 6vh;
    }
    #foot {
      height: 10vh;
    }
    #top {
      height: 6vh;
    }
    .simplebar-scrollbar:before {
      background: #f9047b;
    } 
    .simplebar-scroll-content {
	    box-sizing: content-box;
    }
    .menu-main-container {
   	-moz-column-count: 2;
	-moz-column-gap: 50px;
	-webkit-column-count: 2;
	-webkit-column-gap: 50px;
	column-count: 2;
	column-gap: 50px;
        -moz-column-rule: 1px solid #000;
        -webkit-column-rule: 1px solid #000;
        column-rule: 1px solid #000;
	padding:0 5px;
        width: 50vw;
        margin: 0 auto;
    }
    .menu-item {
	font-size: 2em;
        white-space: nowrap;
    }
    .menu-main-container ul{
        margin:0;
        padding:0 0  0 2em;
        list-style:none;
    }
    @media screen and (max-width:760px){
	.columns {
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-webkit-column-count:1;
	-webkit-column-gap:0;
	column-count: 1;
	column-gap: 0px;
	}	
}
